@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Montserrat:wght@100;600&family=Poppins:wght@500&display=swap');
*{
    margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: black;
   

    
}
.crs{
    transition: all 0.9ms;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 999;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;

}
.nav{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    
}
.nav a{
text-decoration: none;
font-size: 25px;
color: white;
}
#heading{
    text-transform: uppercase;
    color: white;
    margin-top:  23px; ;
    font-size: 5vw;
    opacity: .6;
    line-height: 1;
}
#heading h1{
    margin-left: 37px;
}
#heading .secondh1{
    margin-left: 150px;
}
.blocktext{
   width: fit-content;
   background-color: red;

}
.blocktext h5{
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
}
#chotiheading{
    padding: 0px 15px;
    width: 100%;
    margin-top: .5vw;
    text-transform: uppercase;
    font-size: 1vw;
  color: white;
    text-align: right;
}
#heroFooter{
    width: 100%;
    position: absolute;
    bottom: 3px;
    padding: 2px 1vw;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
#heroFooter a{
    text-decoration: none;
    color: #fff;
}

#iconset
{
    display: flex;
    gap:8px;
}


.circle{
    width: 30px;
    height: 30px;
    background-color: grey;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second{
   
    /* padding-top: 200px; */
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 27px 2vw;
}
.elem{
    position: relative;
    width: 100%;
    border-top:1px solid #888 ;
    color: white;
    padding: 1vw 3vw;

}
.elem a{
    text-decoration: none;
    color: white;
}
.elem{
    text-transform: uppercase;
    opacity: .7;
    font-size: 4vw;
}
.elem img{
    position: absolute;
    z-index: 999;
    height: 13vw;
    display: none;
}
.elemlast{
    border-bottom: 1px solid #888;
}

#about{
    gap: 31px;
    display: flex;
    padding: 3vw 5vw;
    width: 100%;
    padding-left: 42vw
    ;
    background-color: black;
}
.imageabout{
    padding: 4vw 9vw;
    opacity: .6;
    color: white;
    width: 20vw;
    background-color: #888;
    height: 20vw;
    border-radius: 50%;
    background-image: url(./san-image/pp.jpg);
   background-size:cover ;
   background-repeat: no-repeat;

}
.textabout{
    color: #fff;
}
.textabout p{
    padding-bottom: 27px;
  width: 84%;

}
.textabout a{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 25px;
    color: white;
    padding: 12px 24px;
    border-radius: 65px;
    font-size: 16px;
  margin-left: 14px;
}
#skills{
    display: flex;
    gap: 20px;
    background-color: black;
    opacity: .7;
   color: #fff;
   align-items: center;

}
#skills h1{
    font-size:  10vw; ;
}

.round-1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./san-image/html.png);
    border: 2px solid red;

}
.round-2{
    background-image: url(./san-image/images.jpeg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red; 
     background-size: cover;
    background-repeat: no-repeat;
}
.round-3{
    background-image: url(./san-image/jss.jpg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
    background-size: cover;
    background-repeat: no-repeat;
}
#footer{
    display: flex;
    align-items: center;
    width: 90%;
    background-color: black;
    padding: 2vw 0vw;
    color: white;
    margin-left: 23px;
  
    gap: 62vw;
  }

  .footer-left{
 font-size: 25px;
 display: flex;
gap: 10px;

  }
.footer-right{
    display: flex;
    gap: 16px;
}
.footer-right a{
    text-decoration: none;
    color: #fff;
    opacity: .7;
    font-size: 20px;
}
.footer-right a:hover{
    border-bottom: 1px solid #888;
    transform: translateX(50,50);
    transition: 1ms ease-in-out
}

#heroFooter{
    color: #fff;
    opacity: .6;
    display: flex;
    font-size: 40px;
    justify-content: center
}


